<div class="content-wrapper">
  <h3>{{'Customer List'}}</h3>
  <ngx-datatable
    class="bootstrap"
    [rows]="rows"
    [columns]="cols"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.page"
    [limit]="page.size"
    (page)='setPage($event)'>
  </ngx-datatable>

  <ng-template #tplCustomerDeleteCell let-row="row" let-value="value">
    <button (click)="showCustomerDeleteConfirmation(value)"><i class="material-icons">delete</i></button>

  </ng-template>

  <div>
    <button type="button" class="btn btn-primary" (click)="openModal(template)">{{'New Customer'}}</button>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'Customer Detail'}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    </div>
    <form [formGroup]="customerForm" (ngSubmit)="saveCustomer()">

      <div class="form-group">
        <label>{{'Customer Code'}}</label>

        <input type="text" formControlName="customerCode" class="form-control"
               [ngClass]="{ 'is-invalid': f.customerCode.errors }"/>
        <div *ngIf="f.customerCode.errors" class="invalid-feedback">
          <div *ngIf="f.customerCode.errors.required">{{'Customer Code is required'}}</div>
          <div *ngIf="f.customerCode.errors.minlength">{{'Customer Code should be (min) 2 char'}}</div>
        </div>
      </div>

      <div class="form-group">
        <label>{{'Customer Name'}}</label>

        <input type="text" formControlName="customerName" class="form-control"
               [ngClass]="{ 'is-invalid': f.customerName.errors }"/>
        <div *ngIf="f.customerName.errors" class="invalid-feedback">
          <div *ngIf="f.customerName.errors.required">{{'Customer Name is required'}}</div>
          <div *ngIf="f.customerName.errors.minlength">{{'Customer Name should be (min) 4 char'}}</div>
        </div>
      </div>

      <div class="form-group">
        <label>{{'Customer Surname'}}</label>

        <input type="text" formControlName="customerSurname" class="form-control"
               [ngClass]="{ 'is-invalid': f.customerSurname.errors }"/>
        <div *ngIf="f.customerSurname.errors" class="invalid-feedback">
          <div *ngIf="f.customerSurname.errors.required">{{'Customer Surname is required'}}</div>
          <div *ngIf="f.customerSurname.errors.minlength">{{'Customer Surname should be (min) 4 char'}}</div>
        </div>
      </div>

      <div class="form-group">
        <label>{{'Customer Address'}}</label>

        <input type="text" formControlName="address" class="form-control"
               [ngClass]="{ 'is-invalid': f.address.errors }"/>
        <div *ngIf="f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">{{'Customer Address is required'}}</div>
          <div *ngIf="f.address.errors.minlength">{{'Customer Address should be (min) 10 char'}}</div>
        </div>
      </div>

      <div class="form-group">
        <label>{{'Customer E-Mail'}}</label>

        <input type="text" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': f.email.errors }"/>
        <div *ngIf="f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">{{'Customer E-Mail is required'}}</div>
          <div *ngIf="f.email.errors.minlength">{{'Customer Phone should be a@aaa.aaa'}}</div>
        </div>
      </div>

      <div class="form-group">
        <label>{{'Customer Phone Number'}}</label>

        <input type="text" formControlName="telNumber" class="form-control"
               [ngClass]="{ 'is-invalid': f.telNumber.errors }"/>
        <div *ngIf="f.telNumber.errors" class="invalid-feedback">
          <div *ngIf="f.telNumber.errors.required">{{'Customer Phone is required'}}</div>
          <div *ngIf="f.telNumber.errors.minlength">{{'Customer Phone should be (05**)-(*** ** **)'}}</div>
        </div>
      </div>

      <div class="form-group">
        <label>{{'Customer Manager'}}</label>

        <select formControlName="managerId" class="form-control"
                [ngClass]="{ 'is-invalid': f.managerId.errors }">
          <option *ngFor="let opt of managerOptions" [value]="opt.id">{{opt.username}} </option>
        </select>
        <div *ngIf="f.managerId.errors" class="invalid-feedback">
          <div *ngIf="f.managerId.errors.required">{{'Customer Manager Id required'}}</div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-light" (click)="closeAndResetModal()">{{'Close'}}</button>
        <button class="btn btn-primary">{{'Save'}}</button>
      </div>
    </form>
  </ng-template>
</div>

